<h1>{{ question.question_text }}</h1>
<div style="text-align: center;">
    <img src="{{ r_photo_1 }}" alt="Image" style="width: 200px; height: 200px;">
    <img src="{{ r_photo_2 }}" alt="Image" style="width: 200px; height: 200px;">
</div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" >

       <!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" {% if forloop.first %}checked{% endif %}> -->
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="submit">
</form>